img {
  display: block;
  max-width: 100%;
}

.slider-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform; /*melhora performance*/
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}



.slide li.active {
  opacity: 1;
  transform: scale(1);
}

