body {
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

.slider-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform; /*melhora performance*/
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}



.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-controle="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}


[data-controle="slide"] li a{
  display: block;
  width: 12px;
  height: 12px;
  background-color:blueviolet;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
}


[data-controle="slide"] li.active a, [data-controle="slide"] li a:hover{
  display: block;
  width: 12px;
  height: 12px;
  background-color:rgb(216, 174, 255);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
  flex-wrap: wrap;
}


.custom-controls li {
  opacity: .8;
  transform: scale(.8);
  width: 80px;
  height: 60px;
  margin: 2px;
  transition: .3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  background: blueviolet url('../img/seta.svg') center center no-repeat;
  width: 40px;
  height: 40px;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}



